<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<a href="#" th:href="@{/standardExpression/textOperations}">text operations</a>
	<br>
	<a href="#" th:href="@{/standardExpression/conditionalOperators}">conditional operators</a>
	<br>
	<a href="#" th:href="@{/standardExpression/variables}">variables</a>
	<br>
	<a href="#" th:href="@{/standardExpression/expressionBasicObjects(parameter='my parameter')}">expression basic objects</a>
	<br>
	<a href="#" th:href="@{/standardExpression/expressionUtilityObjects}">expression utility objects</a>
	<br>
</body>
</html>